{% paginate customer.orders by 20 %}
<section class="main_Section">
  {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}

  <div class="breadcrumb-collection" role="navigation" aria-label="breadcrumbs">
    <div class="breadcrumb_text">
      <a class="breadcrumbs__link" href="/"><span>Home</span></a>
      <svg class="icon icon--arrow-right" viewBox="0 0 8 12" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
      {%- case t -%}
      {%- when 'article' -%}
      {{ blog.title | link_to: blog.url }} 
      <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page"><span>{{ article.title }}</span></a>
      {%- else -%}
      <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page"><span>{{ page_title }}</span></a>
      {%- endcase -%}
    </div>
  </div>
  {%- endunless -%}
  <div class="main_Customers">
    <div class="box_Left">
      <div class="div_Mobile">
        <button class="show_Menu">
          My orders
          <svg class="icon icon--arrow-bottom" viewBox="0 0 12 8" role="presentation">
            <path stroke="currentColor" stroke-width="2" d="M10 2L6 6 2 2" fill="none" stroke-linecap="square"></path>
          </svg>
        </button>
        <div class="box_Menu">
          <div class="value-picker__inner">
            <header class="value-picker__header">
              <span class="value-picker__title text--strong">My account</span>
              <button class="value-picker__close" data-action="close-value-picker" aria-controls="account-selector" aria-label="Close"><svg class="icon icon--close" viewBox="0 0 19 19" role="presentation">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
                </svg></button>
            </header>
            <div class="value-picker__choice-list">
              <a href="/account" class="value-picker__choice-item is-selected">My orders<svg class="icon icon--check-2" viewBox="0 0 13 11" role="presentation">
                <path d="M1 4.166456L5.317719 9 12 1" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"></path>
                </svg></a>
              <a href="/account/addresses" class="value-picker__choice-item">My addresses </a>
              <a href="/account/logout" class="value-picker__choice-item">Logout </a>
            </div>
          </div>
        </div>
      </div>
      <div class="popover__linklist">
        <a class="popover__link-item is-active" href="/account">My orders</a>
        <a class="popover__link-item" href="/account/addresses">My addresses</a>
        <a class="popover__link-item" href="/account/logout">Logout</a>
      </div>
    </div>

    <main class="account-main">
      <h1>My orders</h1>

      {% if customer.orders.size != 0 %}
      <table id="customer-orders" class="collapsible-table">
        <thead>
          <tr>
            <th>{{ 'customer.orders.order_number' | t }}</th>
            <th>{{ 'customer.orders.date' | t }}</th>
            <th>{{ 'customer.orders.payment_status' | t }}</th>
            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th>{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>

        <tbody>
          {% for order in customer.orders %}
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: "month_day_year" }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">
              <span class="money">{% render 'price-element', price: order.total_price %}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="empty-state">
        <div class="empty-state__icon"><svg class="icon icon--package" viewBox="0 0 46 46" role="presentation">
          <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd">
            <path d="M11 8l24 14m10-6L25 28 1 14m24 14v16"></path>
            <path stroke-linecap="square" d="M45 16v14L25 44 1 30V14L21 2z"></path>
          </g>
          </svg><span class="empty-state__count">0</span>
        </div>

        <p class="empty-state__icon-description">No orders yet</p>

        <div class="empty-state__button-container">
          <a href="/collections/all" class="empty-state__button button button--primary">Make your first order</a>
        </div>
      </div>
      {% endif %}

      {% render 'pagination', paginate: paginate %}
    </main>
  </div>
</section>
{% endpaginate %}
