<style>
  .promo-bar #section-{{ section.id }}{
    background-color: {{ section.settings.bgr_Color }};
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }
  .promo-bar #section-{{ section.id }}.promo_bar-header .text-with-icons__item li.icon-items .text-with-icons__content-wrapper h2 {
    font-size: {{ section.settings.font_size_heading }}px;
  }
  .promo-bar #section-{{ section.id }}.promo_bar-header .text-with-icons__item li.icon-items .text-with-icons__content-wrapper p {
    font-size: {{ section.settings.font_size_body }}px;
  }
  .promo-bar #section-{{ section.id }}.promo_bar-header .text-with-icons__item li.icon-items .text-with-icons__icon-wrapper svg {
    width: {{ section.settings.width }}px;
    height: {{ section.settings.height }}px;
  }
</style>
<div class="promo_bar-header" id="section-{{ section.id }}">
  <div class="container">
    <div classa="text-with-icons text-with-icons--stacked">
      <ul class="text-with-icons__item">
        {% assign promo-bar_blocks = section.blocks | where: 'type', 'promo-bar' %}
        {% for blocks in promo-bar_blocks %}
        <li class="icon-items">
          <div class="text-with-icons__icon-wrapper">
            {% if blocks.settings.icon_Image != blank %}
            <img src="{{ blocks.settings.icon_Image | img_url: '320x' }}">
            {% endif %}
            {% if blocks.settings.icon_SVG != blank %}
            {{ blocks.settings.icon_SVG }}
            {% endif %}
          </div>
          <div class="text-with-icons__content-wrapper">
            <h2>{{ blocks.settings.title-promo-bar }}</h2>
            {% if blocks.settings.text != blank %}
            <div class="rte">
              {{ blocks.settings.text }}            
            </div>
            {% endif %}
          </div>
        </li>
        <!-- Stuff -->
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Promo bar",
	"class": "shopify-section promo-bar promo-bar-v2",
    "settings": [
      {
        "type": "color",
        "id": "bgr_Color",
        "label": "BGR Color",
        "default": "#ffffff"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding Top",
        "default": 8
      },
      {
        "type": "number",
        "id": "padding_right",
        "label": "Padding Right",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "default": 8
      },
      {
        "type": "number",
        "id": "padding_left",
        "label": "Padding Left",
        "default": 0
      },
	  {
        "type": "number",
        "id": "width",
        "label": "Width SVG",
        "default": 20
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height SVG",
        "default": 20
      },
      {
        "type": "number",
        "id": "font_size_heading",
        "label": "Font Size Heading",
        "default": 13
      },
      {
        "type": "number",
        "id": "font_size_body",
        "label": "Font Size Body",
        "default": 16
      }
	],
    "blocks": [
      {
        "type": "promo-bar",
        "name": "Items",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_Image",
            "label": "Icon Image"
          },
		  {
            "type": "html",
            "id": "icon_SVG",
            "label": "Icon SVG"
          },
		  {
		   "type": "text",
		   "id": "title-promo-bar",
		   "label": "Title"
		  },
		  {
		   "type": "richtext",
		   "id": "text",
		   "label": "Text"
		  }
        ]
      }
    ],
    "presets": [{
      "name": "Promo bar",
      "category": "Promotional"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
