<div class="container">
  <div id="tabs-product" class="accordian-product-tab desktop">
    <ul class="ul-list">
      {% assign button_blocks = section.blocks | where: 'type', 'button' %}
      {% for block in button_blocks %}
      <li><a href="#tabs-{{ forloop.index }}">{{ block.settings.heading }}</a></li>
      {% endfor %}
    </ul>
    {% assign text_blocks = section.blocks | where: 'type', 'text' %}
    {% for block in text_blocks %}
    <div id="tabs-{{ forloop.index }}">
      <div class="tabs_Content">
        {{ block.settings.content }}
        {% if block.settings.image_1 != blank or block.settings.image_2 != blank or block.settings.image_3 != blank %}
          <ul class="div_Image {% if block.settings.image_2 != blank and block.settings.image_3 != blank %}slider_Image{% endif %}"> 
            {% if block.settings.image_1 != blank %}<li><img src="{{ block.settings.image_1 | img_url : "1920x" }}"></li> {% endif %}
            {% if block.settings.image_2 != blank %}<li><img src="{{ block.settings.image_2 | img_url : "1920x" }}"></li> {% endif %}
            {% if block.settings.image_3 != blank %}<li><img src="{{ block.settings.image_3 | img_url : "1920x" }}"></li> {% endif %}
          </ul>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="accordian-product-tab mobile">
    {% assign text_blocks = section.blocks | where: 'type', 'text' %}
    {% for block in text_blocks %}
    <div class="product-block-list__item">  
      <button class="card__collapsible-button">
        <span class="card__title heading h3">{{ block.settings.heading }}</span>
        <span class="plus-button plus-button--large"></span>
      </button>
      <div class="card__collapsible-main">
        <div class="card__collapsible--content">
          {{ block.settings.content }}
          {% if block.settings.image_1 != blank or block.settings.image_2 != blank or block.settings.image_3 != blank %}
          <ul class="div_Image {% if block.settings.image_2 != blank and block.settings.image_3 != blank %}slider_Image{% endif %}"> 
            {% if block.settings.image_1 != blank %}<li><img src="{{ block.settings.image_1 | img_url : "1920x" }}"></li> {% endif %}
            {% if block.settings.image_2 != blank %}<li><img src="{{ block.settings.image_2 | img_url : "1920x" }}"></li> {% endif %}
            {% if block.settings.image_3 != blank %}<li><img src="{{ block.settings.image_3 | img_url : "1920x" }}"></li> {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Tabs Product",
    "settings": [
	],
    "blocks": [
      {
        "type": "button",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Content Tabs",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
			"info" : "Heading Mobile"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
		  {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
		  {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
		  {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
